body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 自定义样式 */
.mainapp{
  color: red;
}
.alert-success{
  color: green;
}
.alert-danger{
  color: red;
}
.alert-lists{
  border-bottom: 1px solid #f0f0f0;
  margin: 0 20px;
  padding: 5px 0;
}